<div class="container">
    <form (submit)="cadastrarCliente()" [formGroup]="clientFormGroup" #formDir="ngForm">
        <div class="mb-3">
            <b>Principal</b>
        </div>
        <section class="area-principal mb-3">
            <div>
                <label for="nomerazaosocial">Nome do Cliente/Razão Social:</label>
                <input id="nomerazaosocial" 
                     type="text" 
                     class="form-control form-control-sm" 
                     formControlName="nomeRazaoSocial"/>
                <div *ngIf="nomeRazaoSocial.invalid && formDir.submitted">
                    <p class="aviso">O campo Nome/Razão Social é obrigatório</p>
                </div>
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input id="email" type="email" class="form-control form-control-sm" formControlName="email"/>
                <div *ngIf="email.invalid && formDir.submitted">
                    <p class="aviso">O campo Email precisa ser preenchido e deve ter um valor válido</p>
                </div>
            </div>
            <div>
                <label for="telefone">Telefone:</label>
                <input id="telefone" 
                    type="tel" 
                    class="form-control form-control-sm" 
                    formControlName="telefone"
                    mask="(00) 0 0000 0000"/>
                <div *ngIf="telefone.invalid && formDir.submitted">
                    <p class="aviso">O campo Telefone é obrigatório</p>
                </div>
            </div>
        </section>
        <div>
            <b>Pessoal</b>
        </div>
        <section class="area-pessoal">
            <div>
                <label for="tipoPessoa">Tipo de Pessoa:</label>
                <select id="tipoPessoa" 
                    class="form-select form-select-sm" 
                    formControlName="tipoPessoa"
                    (change)="mask()">
                    <option value="1">Física</option>
                    <option value="2">Jurídica</option>
                </select>
                <div *ngIf="tipoPessoa.invalid && formDir.submitted">
                    <p class="aviso">Você precisa selecionar um Tipo Pessoa</p>
                </div>
            </div>
            <div>
                <label for="CpfCnpj">CPF/CNPJ:</label>
                <input id="CpfCnpj" 
                       type="text" 
                       class="form-control form-control-sm" 
                       formControlName="cpfCnpj"
                       [mask]="mask_cpf_cnpj"
                       [placeholder]="mask_cpf_cnpj"/>
                <div *ngIf="cpfCnpj.invalid && formDir.submitted">
                    <p class="aviso">O campo CPF/CNPJ é obrigatório</p>
                </div>
            </div>
            <div>
                <label for="inscricaoEstadual">Inscricao Estadual:</label>
                <input id="inscricaoEstadual" type="text" class="form-control form-control-sm" formControlName="inscricaoEstadual"/>
                <div *ngIf="inscricaoEstadual.invalid && formDir.submitted">
                    <p class="aviso">O campo Inscrição Estadual é obrigatório</p>
                </div>
            </div>
        </section>
        <button 
            class="btn btn-primary" 
            type="submit"
        >Adicionar</button>
    </form>

</div>
